{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="UTF-8" />


<link href=" {% static 'Css/style.css'%}" rel="stylesheet" />


</head>

<body>

<div id="Interface">
<header id="block">

	<hgroup>

	<h1>Desenvolvedor: Phablo Vilas Boas</h1>
	<h2>Curso: Sistemas de Informaçao</h2>
	</hgroup>
	<nav id="menu">
          <ul>
            <li><a id="Inicio" href="/blog/" class="btn-green">Inicio</a></li>
            <li><a href="#">Desenvolvedor</a></li> 
            <li><a href="#">Meus APPS</a></li>
          </ul>
    </nav>



</header>

<section id="sec">
	<figure class="edit">
	<img src="{%static 'Imagens/phablo.jpg'%} " width="350px"/>
	<figcaption>
		<h3> seilá </h3>
	<figcaption>
	</figure>

</section>


<footer id="fot">
<a href="https://www.google.com.br">facebook </a>
<a href="https://www.python.org/ftp/python/2.7.10/python-2.7.10.msi">twiiter</a>
<a href="#">especificações</a>
</footer>

</div>
</body>
</html>
