
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Home.html</title>
<meta charset="utf-8" />
<link href=" {% static 'Css/style.css'%}" rel="stylesheet" />

</head>

<body>

{% include 'polls/interface.html' %}

{%  if  Lista  %} 
    <ul> 
    {%  for  question  in  Lista  %} 
        <li><a href="{% url 'blog:detail' question.id %}"> {{  question.pergunta_texto  }} </a></li> 
    {%  endfor  %} 
    </ul> 
{%  else  %} 
    <p> Não ha nada na lista. </ p> 
{%   endif%}

</body>



</html>