{% load staticfiles %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
<meta charset="utf-8" />
<title></title>
<link href=" {% static 'Css/style.css'%}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'script/baladinha.js '%}"></script>
</head>
<body>
<div id="Interface">
<header id="block">

	<hgroup>
	<h1>Cinebaladinha</h1>
	</hgroup>
	<nav id="menu">
          <ul>
            <li><a id="Inicio" href="/blog/" class="btn-green">Inicio</a></li>
            <li><a href="#">Desenvolvedor</a></li> 
            <li><a href="#">Meus APPS</a></li>
          </ul>
    </nav>

</header>

<section id ="sec">


<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<img src="" />
<br/>
<br/>


<a href="#" onclick="clique();" id="botao">clique</button> 

</section>


<footer id="fot">

</footer>

</div>

</body>
</html>