{% extends "polls/base.html" %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
<title></title>
<link href=" {% static 'Css/estilo.css'%}" rel="stylesheet" />
</head>
<body>
    {% block content %}

     
        <h1>Bem Vindo (:</h1>
        <p class="lead">Olá Internautas, esse site foi criado com fins estudantis,tendo intuito de Praticar conceitos de programação web.</p>
       	{% if request.user.is_authenticated %}
       	<h1>Voce está logado (:</h1>
       	{% else %}
        <a href="Cadastro/" role="button">Cadastre-se aqui</a>
        {% endif %}
        <img src = "{% static 'Imagens/PrimeiroGif.gif' %}" />
        <h2>Trabalho Professor Fabricio! Relizando um gif</h2>
      
    {% endblock %}

  </body>