{% extends "polls/base.html" %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
<title></title>
<link href=" {% static 'Css/estilo.css'%}" rel="stylesheet" />
</head>
<body>
    {% block content %}

     
        <h1>Bem Vindo (:</h1>
        <p class="lead">Olá Internautas, esse site foi criado com fins estudantis,tendo intuito de apresentar uma série de aplicativos criado por mim, Phablo Jose Vilas Boas do Curso de Sistemas de Informação.</p>
       	{% if request.user.is_authenticated %}
       	<h1>Voce está logado (:</h1>
       	{% else %}
        <a href="Cadastro/" role="button">Cadastre-se aqui</a>
        {% endif %}
        <iframe width="420" height="315" src="https://www.youtube.com/embed/PmefpISZ7Ew" frameborder="0" allowfullscreen></iframe>

      
    {% endblock %}

  </body>